@font-face {
    font-family: "M PLUS 1P";
    src: url("assets/MPLUS1p-Regular.ttf")
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "M PLUS 1P", sans-serif;
    font-weight: 500;
    color: white;
}

#root {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 0.75fr 3fr 13fr;
    grid-template-rows: 65px 1fr 65px;
    grid-gap: 1px;
    background-color: black;
}

#loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#menu, #sidebar, #chat {
    display: block;
}

#menu {
    background-color: var(--sidebar);
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 8px;
}

#menu svg:nth-child(6) {
    transform: scale(138%);
}

#menu svg {
    margin: 8px 0;
}

#sidebar {
    background-color: var(--chat);
    grid-area: 2 / 2 / 3 / 3;
}

#chat {
    grid-area: 2 / 3 / 4 / 4;
    background-color: var(--select);
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    max-height: 100vh;
    width: 100%;
    overflow: scroll;
}

#sidebarChannelName, #channelName {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#channelName {
    justify-content: flex-start;
    background-color: var(--background);
}

#channelName svg {
    margin-left: 15px;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

#sidebarChannelName h1, #channelName h1 {
    font-size: 17px;
    font-weight: 500;
    margin-left: 12px;
    letter-spacing: 0.8px;
}

#sidebarChannelName svg {
    margin-right: 25px;
}

#sidebarChannelName {
    background-color: var(--chat);
}

#channelName h1 {
    margin: 0;
    padding: 0;
}

#sidebar {
    display: flex;
    flex-flow: column wrap;
    padding: 10px 0;
}

#sidebar #textChannels {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.channel {
    display: flex;
    align-items: center;
    width: 95%;
    height: 90%;
    border-radius: 3px;
    transition: background-color 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.channel svg {
    margin-left: 15px;
}

.channel.selected {
    background-color: #51496B;
}

.channel h1 {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 300;
}

#textChannels > div:not(.channel) > h1 {
    font-size: 15px;
    font-weight: 600;
    align-self: flex-start;
    margin-left: 10px;
}

#textChannels div:not(.channel) {
    display: flex;
    align-items: center;
    align-self: flex-start;
}

#textChannels div svg {
    margin-left: 10px;
}

.message {
    margin-left: 16px;
    margin-top: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.message img {
    height: 50px;
    width: 50px;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 50%;
    grid-area: 1 / 1 / 3 / 1;
}

.message h1, h2, p {
    margin: 0;
}

.message h1 {
    font-size: 16px;
}

.message h2 {
    font-size: 12px;
    color: var(--select);
}

.message div {
    display: flex;
    align-items: baseline;
    gap: 10px;
    height: auto;
    margin-bottom: 5px;
}

.message p {
    font-size: 15px;
    font-weight: 400;
}

#chatbox {
    align-self: center;
    width: 96%;
    height: 42px;
    border-radius: 3px;
    background-color: var(--chat);
    margin: 15px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
}

#chatbox input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: "M PLUS 1P", sans-serif;
    color: white;
    font-size: 16px;
}

#chatbox input:focus {
    outline: none;
}

#chatbox svg, #chatbox span {
    flex-basis: 35px;
}

#chatbox span {
    text-align: center;
    font-weight: 600;
    color: var(--select);
}

